.note-card {
  margin: 0px 15px 50px;
  padding: 15px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(min-content, max-content);
  font-size: 16px;
  border: 2px solid gray;
  border-radius: 5px;
  .close-button {
    grid-column: 12 / 13;
    grid-row : 1 / 2;    
    background: black;
    cursor: pointer;    
    width: 35px;
    height: 35px;
    text-align: center;
    -webkit-mask-size: 35px 35px;
    mask-size: 35px 35px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat:no-repeat;
    -webkit-mask-image: url('../../../image/close.svg');
    mask-image: url('../../../image/close.svg');                    
    transition: all 0.5s ease 0s;
      &:hover {
        background: red;                            
      }
  }
  &_description {
    grid-column: 1 / 10;
    grid-row : 2 / 13;
    font-size: 22px;
  }
  &_weather {
    grid-column: 10 / 13;
    grid-row : 2 / 3;
    justify-self: center;
    align-self: center;
    width: 100px;
    height: 100px;
    position: relative;    
    overflow: hidden;
    img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &_temperature {
    grid-column: 10 / 13;
    grid-row : 3 / 4;
    justify-self: center;
    align-self: center;
  }
  &_date {
    grid-column: 10 / 13;
    grid-row : 4 / 5;
    justify-self: center;
    align-self: center;
  }
  &_time {
    grid-column: 10 / 13;
    grid-row : 5 / 6;
    justify-self: center;
    align-self: center;
  }
}