@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

body {
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  margin: 25px auto 0px;
  padding: 25px 15px;
  font-family: "Inter", sans-serif;
  min-height: 75vh;
  border: 2px solid gray;
  border-radius: 5px;
}